# Kafka Configuration for Designs Service
KAFKA_BROKERS=kafka:9092
KAFKA_CONSUMER_GROUP_ID=designs-service
KAFKA_LOGGING_ENABLED=true
KAFKA_LOGGING_LEVEL=info

# Database Configuration
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

# App Configuration
APP_NAME="Designs Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001
